body, html {
    font-family: 'Times New Roman', Times, sans-serif;
    background-color: #b1d6eb;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 300px; /* Reduced max-width for a smaller container */
    margin: 50px auto;
    background-color: #dbe7f4;
    padding: 15px; /* Reduced padding */
    border: 3px solid #101010; /* Blue border color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #101010;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #070707;
}

.form-group {
    margin-bottom: 12px; /* Adjusted margin for form groups */
}

.form-group label {
    font-weight: bold;
    margin-bottom: 6px; /* Adjusted margin for labels */
    color: #0f0f0f;
    display: block;
}

.form-control {
    width: calc(100% - 16px); /* Adjusted width for form controls */
    padding: 6px; /* Reduced padding for form controls */
    font-size: 14px; /* Slightly reduced font size */
    border: 1px solid #b1d6eb;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    outline: none;
    border-color: #66afe9; /* Highlight border color on focus */
}

.datepicker {
    cursor: pointer;
}

.custom-text-input {
    display: none;
}

.btn {
    padding: 8px 16px; /* Adjusted padding for buttons */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px; /* Slightly reduced font size */
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}
